*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contanier{
    background-image: url("img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 775px;
    padding: 200px;
    background-position: center;
    background-color: black;
    animation: change 10s infinite;
}
@keyframes change{
    0%{background-image: url("img1.jpg");}
    25%{background-image: url("img2.jpg");}
    50%{background-image: url("img3.jpg");}
    75%{background-image: url("img4.jpg");}
    100%{background-image: url("img1.jpg");}
}